<template>
  <section class="container">
        <a href="/auth/facebook" class="btn btn-sm ml-1 secret-hide">
          登入
        </a>
        <a href="/logout" class="btn btn-sm ml-1 secret-hide">
          登出
        </a> 
  </section>
</template>

<script type="text/javascript">



export default {

}
</script>

<style>
.container
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secret-hide {
  
  background-color: #275280;
  border: none;
  color: #fff;
}
</style>
